<%- include('../partials/header', {title:title}) %>
<div class='main'>
  <ol>
    <% books.forEach(book => { %>
      <%- include('../partials/book', {book: book}) %>
    <% }); %>
  </ol>

</div>
<%- include('../partials/footer')%>
